body  {
  background-color: white;


}
.banner  { 
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  background-image: ;
}
span.under  {
  font-style: italic;
}
