body  {
  background-color: white;
  margin-top: -50px;
}
.banner  { 
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  margin-bottom: 50px;
}
span.under  {
  font-style: italic;
  font-optical-sizing: 40px;
}
.central {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  columns: 1;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 22px;
}
.areas img  {
  align-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
#show-phy1 {
  display: none;
  font-size: 66px;
}
#show-language {
  display: none;
}
#show-net {
  display: none;
}