body  {
  background-color: white;
  margin-top: -50px;
}
.banner  { 
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  margin-bottom: 50px;
}
span.under  {
  font-style: italic;
  font-optical-sizing: 40px;
}
